
<div class="container">
     <div class="row">
        <div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
        <form action="/" method="POST">
    <table>
        <tr>
            <th>Nom</th>
            <td><input type="text" name="nom"></td>
        </tr>
        <tr>
          <th>Prenom</th>
          <td><input type="text" name="prenom"></td>
          </tr>
          <tr>
                  
                  <td><input type="submit" value="envoyer" class="btn btn-info"></td>
              </tr>
              <tr>
                  <td>
                     
                  </td>
              </tr>
    </table>
        </form>
    </div>
     </div>
</div>